*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #222;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}
.crud{
    width: 80%;
    margin: auto;
}
.crud .head{
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
}
.input{
width: 100%;
}
input{
    width: 100%;
    height: 30px;
    background-color: #111;
    color: white;
    border: none;
    outline: none;
    margin: 4px 0;
    padding: 4px;
    border-radius: 5px;
    transition: .5s;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
    }
    .price small{
        background-color: red;
        color: white;
        padding:4px 2px;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-transform: capitalize;
    }

    #totle::before{
        content: "total: ";
    }
button{
    width: 100%;
    height: 30px;
    background-color: rgb(76 36 146);
    border: none;
border-radius: 20px;
color: white;
transition: .5s;
margin: 4px 0;
text-transform: capitalize;
cursor: pointer;
}
button:hover{
    background-color: rgb(90, 55, 150);
    letter-spacing: 1px;

}


.search{
    display: flex;
    justify-content: space-between;
    
}
.search button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th , td{
    padding: 5px;
}
#deleteAll{
    margin: 20px 0;
}

/* */